/* *{
    border: 1px solid red;
}    */

.navbar{
    top: 0;
    width: 100%;
    background-color: rgba(85, 85, 85, 0.2);
    
}
.navbar-brand{
    margin-left: 40px;
    color: grey;
}
.navbar-items{
    display: flex;
    flex-direction: row;
    list-style-type: none;
     
}
.nav-link{
    color: black;
    border: 2px solid rgba(159, 159, 159, 0.9);
    border-radius: 20px;    
    background-color: rgba(255, 255, 255, 0.4 );
    margin-right: 10px;
    margin-top: 10px;
    padding: 1px 7px 2px 7px;
    align-items: center;
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
#bg_photo{
    width: 100%;
    height: auto;
    margin-top: -90px;
    margin-bottom: 100px;
}
#main_title{
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 22%;
    width: 100%;
    text-align: center;
    font-size: 22vw;
    
}
#tree-pic{
    margin-top: 30px;
    width: 470px;
    height: 49em;
    display: flex;
    margin-bottom: 70px;
    float: right;
    margin-right: 60px;
}
#plan-title{
    width: 60%;
    font-size: 4em;
    margin-bottom: 80px;
    color: black;
    display: inline;
}
#trip-info{
    width: 550px;
    margin-top: 40px;
    font-size: 1.5em;
}
.wrap{
    margin-left: 80px;
}
#trip-button{
    margin-top: 1.5em;
    background-color: rgb(174, 168, 125);
    width: 10%;
    color: white;
    border: none;
}
.box{
    display: flex;
    margin: 40px 20px -33px 80px ;
    max-width: 250px;
    padding-left: 0;
    height: 200px; 
} 
.row{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
    grid-gap: 2rem;
    height: 31em;
    margin-top: 0.3em;
    
}
#grid-photo-1{
    max-width: 200px;
}
#grid-photo-2{
    max-width: 200px;
}
#grid-five{
    width: 200px;
}
#grid-six{
    width: 200px;
}
#second-tile{
    margin-top: 10em;
    background-color: rgb(218, 213, 169);
    height: 40em;
}
#second-wrap{
    padding-top: 2em;

}
#things-name{
    margin-left: 7%;
    width: 40%;
    display: inline;
    font-size: 2.5em;
    color: rgb(108, 189, 108);
}
#tips-header{
    display: inline;
    text-align: right;
    margin-left: 37%;
    font-size: 2.5em;
    color: rgb(108, 189, 108);
}
#things-list{
    margin-left: 7em;
    margin-top: 2em;
    font-size: 1.5em;
    width: 35%;
    float: left;
}
#tip-list{ 
    margin-top: 3em;
    width: 38%;
    float: right;
}
.tip-item{
    margin-bottom: 1em;
    max-width: 80%;
    min-width: 30%;
}
#trd-bg{
    margin-top: 0;
    width: 100%;
    filter: blur(1.5px);
    z-index: -1;
}
.wrap-container{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -24em; 
    width: 100%;
}
.wrapper{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 20%;
    margin-top: 5vh;
    position: relative;
}
.photo-box{
    align-items: center;
    width: 230px;
    height: 19em;
    background-color: white;
    position: relative;
}
.grid-image{
    object-fit: cover;
    position: absolute;
    margin-top: 5%;
    margin-left: 6%;
    width: 89%;
    align-items: center;
}
#trd-title{
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    position: absolute;
    margin-top: -10em;
    font-size: 4vw;
}

#camping-photo{
    width: 200px;
    align-items: center;
}

.grid-text{
    font-size: 1.6vw;
    z-index: 2;
    position: absolute;
    bottom: 3em;
    text-align: center;
    left: 0;
    right: 0;
}

.footer{
    position: relative;
    margin-top: 0;
    height: 38em;
    padding-top: 5em;
}
#live-map{
    margin-left: 4em;
    float: left;
    max-width: 450px;
    min-width: 200px;
}
.footer-box{
    margin-top: 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: 2fr 1fr;
    width: 50%;
}
.footer-box .foot-box{
    margin-top: 0;
    max-width: 100%;
    padding: 10px;
    margin-left: 60px;
}
.grid-list{
    list-style-type: none;
    padding-left: 0;
}
.list-head{
    font-size: 2vw;
}

.list-item{
    font-size: 1.4vw;
}
#dir-link{
    text-decoration: none;
    color: white;
}
#dir-link:hover{
    color: green;
}
.soc-link{
    text-decoration: none;
}